@font-face {
  font-family: Alex;
  src: url(../11111/fonts/Inconsolata-Black.ttf);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: rgb(43, 43, 43);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  display: block;
}

h3 {
  font-weight: bold;
  font-size: 32px;
}

ul {
  list-style: none;
}
.greeting {
  font-weight: bold;
}

.my_description {
  line-height: 2;
}

.change_color {
  transition: color 2s ease-in-out; /* Smooth color transition */
}

.greeting {
  font-size: 45px;
}

.main_container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
}

.image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.Projects {
  display: grid;
  grid-template-rows: auto auto; /* Two rows with automatic height */
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 20px;
}

.boxes {
  border: 2px solid;
  border-color: rgb(207, 207, 207);
  border-radius: 25px;
  padding: 15px;
  transition: 1s;
}

.boxes:hover {
  border-color: rgb(231, 71, 159);
  cursor: pointer;
  transition: 1s;
  box-shadow: 0px 0px 15px rgba(231, 71, 159);
  scale: 1.01;
}

.home_button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
  text-decoration: none;
}

footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(207, 207, 207);
  margin-top: 64px;
}
